# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
**/*.pyc
*$py.class

models/skwiz

workspace/error/*
!workspace/error/.gitkeep
workspace/input/*
!workspace/input/.gitkeep
workspace/input_processed/*
!workspace/input_processed/.gitkeep
workspace/output/*
!workspace/output/.gitkeep


