Pillow==10.3.0
opencv-python==4.10.0.84
numpy==1.26.4
python-doctr[torch]==0.11.0
torch==2.7.0
torchvision==0.22.0
pytesseract==0.3.13
transformers==4.45.1
python-magic==0.4.27
python-dateutil==2.9.0.post0
